* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.loading {
    height: 100vh;
    width: 100vw;
    position: fixed;
    inset: 0;
    top: 50%;
    left: 43vw;
    z-index: 10000;
    
}

.experience{
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
}

#experience-canvas{
    width: 100%;
    height: 100%;
}

.modal {    
    z-index: 999;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 90%;
    width: 90%;
 
    background-color: #374ddc;
    border: 2px solid #fff;
    color: #fff;
    background-position: center;
    border-radius: 30px;
}

.modal-wrapper {
    padding: 12px;
}

.modal-header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 20px;
}

.hidden {
    display: none !important;
}

.modal-exit-button {
   background: red;
  border: none;
  color: white;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  padding: 0;

  display: grid;
  place-items: center;
  margin-right: 25px;
  font-size: 24px;
  line-height: 1;
  cursor: pointer;
}
 
.modal-header {
    display: flex;
    align-items: center;
    margin: 10px 20px;
}

.modal-content {
    margin: 20px;
}

.modal-project-visit-button {
    background-color: #b17c11; /* Button background color */
  color: white;             /* Text color */
  padding: 10px 20px;       /* Space around the text */
  text-decoration: none;    /* Remove default underline */
  border-radius: 5px;       /* Rounded corners */
  display: inline-block;    /* Allows padding/margin and proper sizing */
  cursor: pointer;          /* Changes mouse cursor to a hand pointer */
  border: none;             /* Remove default border */
  text-align: center; 
  transition: .3s;
  margin-bottom: 10px;
}

.modal-project-visit-button:hover {
  background-color: #aeac11; /* Change background color on hover */
}
 
.modal-project-description {
    font-size: 19px;
}

.openingText {
    font-size: 20px;
    position: absolute;
    top: 95%;
    right: 20px;
    z-index: 100000;
    color: white;
}

.modalImg {
    margin-top: 30px;
    width: 90%;
    
}

.imgContainer {
    display: flex;
    justify-content: center;
}